/* Common css */

body {
    margin: 0;
    font-family: Helvetica;
}

h1 {
    font-size: 1.4em;
}

form {
    border: 0
}

.header {
    background-color: #4A4A4A;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 0px;
}


/* header */

div#pageTitle h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
    line-height: 50px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}


/* toolbar */
div#toolbar {
    width: 100%;
    height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #aebbcb),color-stop(0.5, #8094ae), color-stop(1.0, #6e84a2));
}

div#toolbar div {
    position: absolute;
    overflow: hidden;
    text-align: center;
}

div#toolbar div#leftItem {
    top: 10px;
    left: 10px;
    width: 50px;
}

div#toolbar div#centerItem {
    bottom: 20px;
	width:100%;
    margin-left: 10px;
    height: 30px;
}

div#toolbar div#rightItem {
    top: 10px;
    right: 10px;
    width: 50px;
}

div#toolbar a {
    color:white;
    display: block;
    line-height: 30px;
}

div#toolbar .backButton {
    -webkit-border-top-left-radius: 16px 16px;
    -webkit-border-top-right-radius: 6px 6px;
    -webkit-border-bottom-left-radius: 16px 16px;
    -webkit-border-bottom-right-radius: 6px 6px;
    -webkit-border-image: url(/public/images/backButton.png) 0 5 0 13 stretch stretch;
    border-width: 0 5px 0 13px;
    width: auto;
    font-size: .9em;
    z-index: 3;
}

.blueButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #6f96e9),color-stop(0.5, #3366cc), color-stop(1.0, #3366cc));
    border: #1a49b3 1px solid;
}

#content {
    background: url('/public/images/pinstripes.png');
	min-height:480px;
}

#content form {
    padding: 5px 0 0 0;
	width: 310px;
	margin: 0 auto;
}

#content form label {
	display: none;
}

#content form input {
	-webkit-appearance: none;
    border: 0;
	height: 30px;
	font-size: medium;
	font-weight: bold;
    -webkit-border-radius: 6px;
}

#content form input[type=submit] {
    -webkit-border-radius: 12px;
    color: white;
}

#content form input[type=text] {
    padding: 0 10px;
}

#content li {
    background-color: white;
    margin-bottom: 2px;
    padding: 2px 5px;
}

#content li:last-child {
    margin-bottom: 0px;
}

li.more {
    text-align: right;
    font-size: small;
    padding: 5px;
}
