<div id="pageTitle">
	<h1>Polyglot</h1>
</div>

<div id="toolbar"> </div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :search %>">
        <label for="word[term]">Term</label>
        <input type="text" name="word[term]" <%= placeholder( "Term" ) %> style="float: left"/>
        <input type="submit" class="standardButton blueButton" value="Search" />
    </form>
</div>
