<div class="pageTitle">
  <h1>Words</h1>
</div>

<div class="toolbar"> </div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :search %>">
    <ul>
      <li>
        <label for="word[term]" class="fieldLabel">Term</label>
        <input type="text" name="word[term]" <%= placeholder("Term") %>/>
      </li>
    </ul>
    <input type="submit" class="standardButton blueButton" value="Search"/>
  </form>
</div>