<div id="pageTitle">
    <h1>New Word</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @word.object %>"/>
        <table>
    		
    		  <tr>
    			  <td width="125">Term: </td>
    			  <td><input type="text" name="word[term]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>