<div id="pageTitle">
	<h1><%= @word.term%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @word.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td>Term</td>
        <td><%= @word.term%></td>
      </tr>
      
    </table>
</div>